* {
    margin: 0;
    padding: 0;
  }

  .line {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 1px;
  }
  
  header  {
    display: flex;
    position: fixed;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.418);
    font-family: 'Oswald', sans-serif;
    padding: 0.5%;
    color: #909090;
    font-size: 1.4rem;
  }
  
  header #github {
    padding-left: 5%;
  }
  header #instagram {
    padding-left: 27%;
  }
  
  .link {
    text-decoration: none;
    color: white;
  }
  .link:hover {
    color:  rgb(7, 32, 29);
  }
  
  .header-github {
    width: 15%;
  }
  
  .header-instagram {
    width: 3.5%;
  }
  
  .header-linkedin {
    width: 19%;
  }
  
  
  aside {
    display: flex;
    position: absolute;
    background-color: white;
    position: fixed;
    height: 40rem;
    width: 5%;
    z-index: 1;
    color: white;
    flex-direction: column;
    padding-top: 3.8%;
    align-items: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.26);
  }
  aside p {
    display: inline-block;
    padding: 5%;
    font-family: 'Oswald', sans-serif;
  }
  aside hr {
    display: inline;
    border: 1px solid;
    border-color: black;
  }
  
  aside p:hover {
    color: rgb(7, 32, 29);
  }
  
  h1 {
    padding: 12%;
    text-align: center;
    text-overflow:ellipsis;
    font-weight: bolder;
  }
  main {
    position: relative;
    background-color: white;
    color: rgba(0, 0, 0, 0.73);
    height: 40rem;
    z-index: 0;
  }
  #first-h1 {
    font-family: 'Anton', sans-serif;
    text-align: left;
    font-size: 3.5em;
  }
  .header-div {
    display: flex;
    align-items:flex-end;
    justify-content:space-evenly;
    width: 100%;
    height: 50px;
  }

  #about {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    justify-content: flex-start;
  }
 
  #about h1 {
    margin-top: -8%;
    text-align: left;
    text-decoration: underline;
  }

  #about #me {
    display: inline-block;
    margin-top: -10%;
    padding-left: 5%;
    padding-right: 50%;
    text-align: left;
  }

  #jobs {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    justify-content: flex-start;
  }

  #jobs h1 {
    margin-top: -8%;
    text-align: left;
    text-decoration: underline;
  }

  #jobs p {
    display: inline-block;
    margin-top: -10%;
    padding-left: 5%;
    padding-right: 50%;
    text-align: left;
  }

  #projects {
    display: block;
    height: 40em;
  }

  #projects h1 {
    margin-top: -8%;
    text-align: left;
    text-decoration: underline;
  }

  #projects .projects-deck1 {
    display: flex;
    width: 150px;
    height: 250px;
    border: 2px solid rgba(0, 0, 0, 0.425);
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    margin-top: -10em;
    margin-left: 10em;
  }

  #projects .projects-deck2 {
    display: flex;
    width: 150px;
    height: 250px;
    border: 2px solid rgba(0, 0, 0, 0.425);
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    margin-top: -16em;
    margin-left: 35em;
    
  }

  #projects .projects-deck3 {
    display: flex;
    width: 150px;
    height: 250px;
    border: 2px solid rgba(0, 0, 0, 0.425);
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    margin-top: -16em;
    margin-left: 60em;
  }