.site {
    background-color: rgb(34, 252, 99);
    padding: 12px;
    border-radius: 5%;
    font-weight: 900;
    border: 10px;
    color: black;
}

.site:hover {
    background-color: rgb(0, 157, 47);
}

body {
    background-color: rgb(148, 250, 179);
}
#name {
    font-family: 'Send Flowers', cursive;
    display: block;
    position: absolute;
    left: 40%;
    top: 183px;
}
#description {
    display: block;
    position: relative;
    left: 20%;
    top: -275px;
    margin: auto;
    font-family: font-family: 'Lavishly Yours', cursive;
    font-family: 'Send Flowers', cursive;;
}
p#nac, #cit, #es, #hab {
    background-color: rgb(183, 255, 205);
    color: rgb(0, 0, 0);
}
#english {
    font-size: 40px;
    color: rgb(33, 106, 78);
}
#math {
    font-size: 35px;
}
#hab2 {
    font-size: 30px;
    color: rgb(33, 106, 78);
}
#confident {
    font-size: 25px;
}
#foto {
    display: inline-block;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    
}
