* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    position: fixed;
    align-content: space-around;
    flex-direction: column;
    background-color: rgb(30, 72, 68);
    z-index: 2;
}
header div {
   padding: 0.3%;
}

.link {
    text-decoration: none;
    color: white;
}
.link:hover {
    color:  rgb(7, 32, 29);
}

.header-img {
    width: 2.5%;
}


aside {
    display: flex;
    position: absolute;
    background-color:  rgb(30, 72, 68);
    position: fixed;
    height: 40rem;
    width: 10%;
    z-index: 1;
    color: white;
    flex-direction: column;
    padding-top: 10%;
    align-items: center;
}
aside p {
    display: inline-block;
    padding: 5%;
}
aside hr {
    display: inline;
    border: 1px solid;
    border-color: black;
}

aside p:hover {
    color: rgb(7, 32, 29);
}

h1 {
    padding: 12%;
    text-align: center;
    text-overflow:ellipsis;
    font-weight: bolder;
}
main {
    position: relative;
    background-color: rgb(27, 67, 63);
    color: white;
    height: 40rem;
    z-index: 0;
}
#first-h1 {
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}
.line {
    width: 100%;
    height: 1px;
    background-color: rgb(153, 153, 153);
    margin-bottom: 15px;
}


@media screen and (max-width: 450px) {

    h1 {
       padding-top: 4.5em;
    }
    #first-h1 {
        font-size: 1.2em;
    }

    .link {
     font-size: 0.8em;
    }

    aside {
        padding-top: 20%;
        height: 100%;
    }

 aside p {
     font-size: 0.6em;
 }

 main {
     height: 100vh;
 }
}