* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000000;
    color: white;
    font-family: 'Oswald', sans-serif;

}

main {
    z-index: 0;
}


/*------------------------------------------------- HEADER --------------------------------------------------------------------*/

header {
    position: fixed;
    width: 100%;
    height: 70px;
    border-bottom: 0.1em solid rgb(92, 92, 92);
    background-color: #000000;
    z-index: 5;
}


header #name {
    position: relative;
    left: 50px;
    top: 18px;
}

#navHome {
    position: relative;
    text-decoration: none;
    color: white;
    left: 1000px;
    top: -20px;
    font-size: 20px;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
}

#navHome:hover {
    background-color: rgb(24, 24, 24);
    border: 2px solid #3CCF91;
}

#navProjects {
    position: relative;
    text-decoration: none;
    color: white;
    left: 1050px;
    top: -20px;
    font-size: 20px;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
}

#navProjects:hover {
    background-color: rgb(24, 24, 24);
    border: 2px solid #3CCF91;
}

/*------------------------------------------------- HEADER --------------------------------------------------------------------*/



/*------------------------------------------------------ APRESENTACAO E LINKS -----------------------------------------------*/

#apresentacao {
    position: relative;
    font-weight: 900;
    font-size: 100px;
    top: 75px;
    left: 100px;
    z-index: 2;
}

#apresentacao2 {
    position: relative;
    font-weight: 900;
    font-size: 50px;
    top: -54px;
    left: 100px;
    color: #3CCF91;
}

.links {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 10px 40px 10px 40px;
    border-radius: 8px;
    left: 80px;
    margin-left: 20px;
    font-weight: 900;
    top: -25px;
}

.links:hover {
    background-color: rgba(255, 255, 255, 0.150);
    border: 2px solid #3CCF91;
    color: #3CCF91
}

#image {
    position: relative;
    top: -200px;
    left: 229px;
    width: 150px;
    z-index: -1;
}

/*------------------------------------------------------ APRESENTACAO E LINKS -----------------------------------------------*/



/*--------------------------------------------------------- SOBRE MIM ---------------------------------------------------------*/


#about-me #me {
    position: relative;
    left: 100px;
    top: 130px;
    font-weight: 900;
    font-size: 50px;
}

#about-me-text {
    display: inline-block;
    width: 50%;
    position: relative;
    left: 97px;
    top: 150px;
    font-size: 25px;
    color: gray;
}

.phrase {
    position: relative;
    top: -50px;
    left: 5em;
    font-size: 20px;
}

#image-profile {
    position: relative;
    top: 100px;
    left: 181px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

/*--------------------------------------------------------- SOBRE MIM ---------------------------------------------------------*/