* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000000;
    color: white;
    font-family: 'Oswald', sans-serif;

}

main {
    z-index: 0;
}


/*------------------------------------------------- HEADER --------------------------------------------------------------------*/

header {
    position: fixed;
    width: 100%;
    height: 70px;
    border-bottom: 0.1em solid rgb(92, 92, 92);
    background-color: #000000;
    z-index: 5;
}


header #name {
    position: relative;
    left: 50px;
    top: 18px;
}

#navHome {
    position: relative;
    text-decoration: none;
    color: white;
    left: 1000px;
    top: -20px;
    font-size: 20px;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
}

#navHome:hover {
    background-color: rgb(24, 24, 24);
    border: 2px solid #3CCF91;
}

#navProjects {
    position: relative;
    text-decoration: none;
    color: white;
    left: 1050px;
    top: -20px;
    font-size: 20px;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
}

#navProjects:hover {
    background-color: rgb(24, 24, 24);
    border: 2px solid #3CCF91;
}
